<section class="home-feature {{ spark_class }}" style="background-image: url({{ image.url }});">
	<div class="container">
		<div class="hgroup">
			<div class="row">
				<div class="col-md-4 col-xs-12 headline-col">
					<h3>{{ sub_heading }}</h3>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-7 col-xs-12 headline-col">
					<h2>{{ heading }}</h2>
				{% if link != "null" %}
					<a href="{{ link }}">
				{% endif %}
						<span class="link-peek"></span>
				{% if link != "null" %}
					</a>
				{% endif %}
				</div>
			</div>
		</div>
	</div>	
</section>