<header class="spark-header spark-region">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <a class="site-logo" href="{{ site.url }}"></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                {{ action }} {% include '/views/content/donate.twig' %}
            </div>
            <div class="mobile-btn search-btn "><i class="search-button spark-icon-search"></i>
            </div>
        </div>
        <!-- .row -->
    </div>
</header>

<div class="full-width-nav">
    <div class="container">
        <nav class="navbar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>      
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav">

                {% for item in nav.get_items %}                

                {% if item.get_children %}

                    <li class="dropdown {{item.classes | join(' ')}}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{item.title}} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% for child in item.get_children %}
                        <li><a href="{{child.get_link}}">{{child.title}}</a></li>
                        {% endfor %}                  
                      </ul>
                    </li>

                {% else %}

                <li class="{{item.classes | join(' ')}}"><a href="{{item.get_link}}">{{item.title}}</a></li>

                {% endif %}

                {% endfor %}
              </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
</div>
{{ feature }}