<section class="spark-gallery {{ spark_class }}">
	{% if header %}<h2>{{ header }}</h2>{% endif %}
	
	<ul class="slides">
		<div 
			class="cycle-slideshow"
			data-cycle-speed="200"
			data-cycle-prev=".news-navigation .prev" 
			data-cycle-next=".news-navigation .next"
			data-cycle-fx=carousel 
			data-cycle-carousel-visible=3 
			data-allow-wrap=false
			data-cycle-slides=".slide"
		>
	{% for slide in feed %}
		{% include slide_template %}
		{% if ( more == true ) and ( loop.length > 3 ) and ( loop.last )  %}
			<span class="load-more"></span>
		{% endif %}
	{% endfor %}
		<div>
	</ul>
	<div class="news-navigation">
		<ul>
			<li><a href="#" class="prev"><i class="icon-chevron-sign-left"></i>Previous</li></a>
			<li><a href="#" class="next">Next<i class="icon-chevron-sign-right"></i></li></a>
		</ul>
	</div>
</section>