	/** Base Styles for Rights for Girls **/

$container-width: 1200;
$margin: 60;
$columns: 12;
$column-gutter: 0;
$column-width : ($container-width - ( $margin * 2 ))/$columns ;

$max-small-width:767px;
$min-small-width:768px;
$min-tablet-width:992px;
$min-desktop-width:1200px;


// Layout/Frame
@mixin container{
	display: block;
	margin: auto;
	/*width: #{$container-width}px;*/
	/*padding: 0 #{$margin}px; */
	position: relative;

}

@mixin column($n){
	width:  #{$n * $column-width}px;// / $container-width ) * 100%;
	display: inline-block;
	margin-left: -3px;
}
@mixin push($n){
	margin-left:  #{$n * $column-width}px;// / $container-width ) * 100%;
}


@mixin form {
	
	input {
		border: none;
		padding: 10px;
		color: $stronggray;
		background: $lightgray;

		&:focus {
			color: black;
		}	

		.wpcf7-form :before{
			content:$pencil;
			color: $purple3;
			font-family: "FontAwesome";
		}
		
		&[type="submit"]{
			color: $black;
			border-bottom: 3px solid black;
			background: none;
			text-transform: uppercase;
			@include call-to-action;
			padding: 0;
			margin-top: 25px;
			&:hover{
				color: $black2;
			}
		}	
	}

}

html {
	overflow-x: hidden;
}

body.rights_app{
	@include long-body; 
	color: $black2;

	& * {
		box-sizing: border-box;
	}

	a { color: $teal; }

	.container{
		@include container;
	}
}

section {
	display: block;
}

// img{
// 	-webkit-filter: grayscale(100%);
// 	filter: grayscale(100%);
// 	filter: url(desaturate.svg#greyscale);
// }

// * {
// 	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
// 	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
// 	-webkit-filter: grayscale(100%);
// 	filter: gray;
//     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
// }

@include form;
