/* Rights For Girls Color Palette */

$purple1 	: #45002c;
// Ex: Sub-Navigation background

$purple2	: #5b003b;
$purple2opaque: rgba(91, 0, 59, 0.9);
$purple2opaquelight: rgba(91, 0, 59, 0.7);
// Ex: Main Navigation background

$purple3	: #6e0047;
$purple3opaque : rgba(110, 0, 71, 0.5);
// Ex: CTA Containers in Content Area 4 of Homepage, “JOIN US. TAKE ACTION” footer top section background

$purple4	: #830044;
$purple4opaque: rgba(131, 0, 68, .5);
// Ex: “ISSUE AREAS” section title in content area 1 of Issue Areas Page

$purple5	: #ac006e;
// Ex: Square button default state

$purple6	: #ff00aa;
// Ex: Hover state for all square buttons, “Read More” button default color in “Featured News & Updates” on Homepage

$teal		: #05b5fe;
// Ex: social media icons default in header, “293,000” “1 IN 4” “73%” on Homepage

$stronggray	: #c9bcce;
// Ex: Background color for many sections, Background of “Follow Us” (left section), “Stay Inofrmed” (right section) of footer,

$lightgray 	: #e2d5de;
// Ex: Background color for amny sections, Background of center “Act Now” section of footer, Mission statement content area 2 background on Home Page

$black		: #2f2f2f;

// Ex: top header (for logo, social media, and Donate button) background

$black2		: #404040;
// Ex: Header Donate button Default background, Body text
$opaqueblackdark: rgba(0, 0, 0, 0.8);
$opaqueblack: rgba(0, 0, 0, 0.4);

