<section id="content-section" class="cf">
	  <figure class="hero-banner cf">
			<img src="{{ bloginfo('stylesheet_directory') }}/images/uploads/img_01.jpg" alt=" ">
			<figcaption>
				<h3>there is no such thing</h3>
				<p>as a child prostitute</p>
				<a href="#learnmore" class="more fa fa-chevron-down"><span>learn more</span></a>
			</figcaption>
		</figure>
		
		<article id="learnmore" class="content-area2 cf">
		  <div class="center-box">
			  <figure><img src="{{ bloginfo('stylesheet_directory') }}/images/uploads/img_03.jpg" alt=" "></figure>
				<div class="txt">
				  <header>
				    <h2>It is time to eradicate the term "child prostitute."</h2>
					</header>
					<p>There are only victims and<br>survivors of child rape.</p>
					<footer>
					  <a href="{{ post.petition_link }}" target="_blank" class="more">SIGN PETITION</a>
						<p>Tell the media there’s no such thing as a child prostitute.</p>
					</footer>
				</div>
			</div>
		</article>
		
		<div class="content-bg-box cf">
		  <div class="center-box">
		  					
				{% for item in post.get_field('fact_sheets') %}
				<article class="content-area3 right cf">
				  <figure>
					  <img src="{{ item.image }}" alt=" ">
					  <figcaption>{{ item.headline }}</figcaption>
					</figure>
					
					<div class="txt">
						<p>{{ item.description }}</p>
						<footer>
							<a href="{{ item.fact_sheet_file }}" target="_blank" class="more">see fact sheet</a>
							<p>{{ item.cta_text }}</p>
						</footer>
					</div>
				</article>
				{% endfor %}
				
				{% for item in post.get_field('reports') %}
				<article class="content-area3 cf">
				  <figure>
					  <img src="{{ item.image }}" alt=" ">
					  <figcaption>{{ item.headline }}</figcaption>
					</figure>
					
					<div class="txt">
						<p>{{ item.description }}</p>
						<footer>
							<a href="{{ item.report_file }}" target="_blank" class="more">read report</a>
							<p>{{ item.cta_text }}</p>
						</footer>
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
	</section>