.featured-news {
	background: $stronggray;
	padding: 70px 0;
	position: relative;
	line-height: 1.3em;

	.slides, & > h2 {
		@include container;
		width: 1100px;
		overflow: hidden;
		padding: 20px 20px;
	}

	h2{
		@include h4;
		color: $purple3;
		margin-bottom: 1em;
	}

	h4 {
		color: $purple3;
		font-weight: bold;
		margin-bottom: 10px;
		text-transform: uppercase;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
		height: 2.5em;
	}

	h5 {
		@include h7;
		font-style: italic;
		margin-bottom: .5em;
	}
		p {
		@include short-body;
		line-height: 1.4em;
	}

	.content { 
		text-decoration: none;
		color: black;
		line-height: 1.2em;
	}

	.read-more{
		@include h5;
		font-size: 16px;
		color: $purple6;
		text-decoration: none;
		// margin-top: 10px;
		clear:both;
		display: block;
		margin-top: 20px;
		&:before {
			content: $circlerightarrow;
			// display: inline-block;
			font-family: "FontAwesome";
			margin-right: 10px;
		}	
	}

	.slides{
		white-space: nowrap;
		.slide{ white-space: normal; }
		.cycle-slideshow{
			overflow: visible !important;
		}
	}

	.slide {
		width: auto;
		height: auto;
		width: 323px;
		// height: 380px;
		padding: 20px;
		background: $lightgray;
		box-shadow: 0 0 .25em $black;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin-right: 51px; 
		white-space: normal;
		&:hover span, &:hover span:before{
			color: #21e3db;
		}
	}
	.news-navigation{
		text-align: center;
    	margin-top: 40px;
    	a{
    		text-decoration: none;
    		color: #6b0269;
    	}
    	a:visited{
    		color: #6b0269;
    	}
    	li{
    		display: inline-block;
    		margin-right: 20px;
    	}
    	.prev i{
    		margin-right: 7px;
    	}
    	.next i{
    		margin-left: 7px;
    	}		
	}
}