/** Header Styles **/

header.spark-header{
	background: $black;
	white-space: nowrap;

	.left-container {
		// @include column(4);
	}

	.site-logo{
		display: inline-block;
		width: 200px;
		height: 85px;
		background: $logo no-repeat left center;
		background-size: contain;
		margin-left: 2rem;
		vertical-align: middle;
		// &::before{
		// 	content: $home;
		// 	display: inline-block;
		// 	margin-left: -2rem;
		// 	vertical-align: middle;
		// 	font-family: "FontAwesome";
		// 	color: $purple4;
		// } 
		&:hover {
			background-image: $logo_hover;
			&::before{
				color: $purple6;
			}
		}
	}

	.right-container {
		//@include column(4);
		//@include push(3.5);
	}
	.social{ 
		text-align: right;
		li {
			display: inline-block;
			margin-right: 1em;
			text-align: right;
			a{
				color: $purple4;
				text-decoration: none;
				&::before{
					display: inline-block;
					width: 30px;
					height: 22px;
					font-family: "FontAwesome";
					color: $purple4; 
				}
				&:hover{
					&::before{
						color: $teal;
					}
				}
			}
			&.twitter a::before { content: $twitter; }
			&.facebook a::before { content: $facebook; }
			&.mail a::before { content: $mail; }
			&.donate { 
				background: $black2;
				padding: 25px 40px;
				display: inline-block;
				cursor: pointer;
				a{ color: $purple5; }
				&::before{
					content: $heart;
					display: inline-block;
					font-family: "FontAwesome";
					color: $purple5;
				}				
				&:hover{
					background: #535353;
					a { color: $purple6; }
					&::before{
						color: $purple6;
					}
				}
			}
		}
	} 
}


.donate.spark-modal{
	white-space: normal;
	width: 0;
	height: 0;
	max-width: none;
	overflow: hidden;
	&.show{
		width: 100%;
		height: 100%;
		max-width: none;
	}
	.modal-content{
		background: $lightgray;
		border: 10px solid white;
		width: 1000px;
		position: fixed;
		top: 110px;
		left: 0;
		right: 0;
		margin: auto;
		.close{
			display: block;
			position: absolute;
			width: 55px;
			height: 55px;
			background: url(style/images/lightbox-close.png) no-repeat;
			background-size: cover;
			top: 0;
			right: 0;
			z-index: 1000;
		}
		& > * {
			display: inline-block;
			vertical-align: top;
		}
		.text {
			width: 520px;
			padding-top: 40px;
			margin-left: 30px;

			h2{
				@include h1;
				font-size: 38px;
				margin-bottom: 25px;
				color: $purple3;
			}
			p{
				margin-bottom: 5px;
			}
			.button {
				display: inline-block;
				color: white;
				margin: 5px;
				background: $purple5;
				text-decoration: none;
				padding: 20px 60px;
				margin-top: 1em;
				font-family: "franklin-gothic-urw-comp";
				font-weight: 700;
				font-size: 24px;
				text-transform: uppercase;
				transition: .25s background ease-in-out;
				&:hover{
					background: $purple4;
				}
			}
			.close{
				background: $close no-repeat;
				width: 50px;
				height: 50px;
				top: 10px;
				right: 10px;
				position: absolute;
			}
		}
	}
}

