
section.home-feature{
	position: relative;
	height: 560px;
	background-color: $black;
	background-size: cover;
	background-size: cover;
	background-position: right top;
	
	.container {
		height: 100%;
		/*width: 1050px;*/
		padding: 0 60px;

	}
	.hgroup {
		display: block;
    	position: absolute;
    	bottom: 60px;
   	 	left: 0px;
    	width: 100%;
    	padding: inherit;

		h2{
			width: 100%;
			b, strong { @include h1; margin-bottom: 20px; display: block; }
			@include h2;
			color: white; 
			background: $purple3opaque;
			padding: 2.2rem 1.25rem; 
		}
		h3 {
			@include h7;
			width: 100%;
			/*display: inline-block;*/
			padding: .5rem;
			margin-bottom: .5rem;
			color: white;
			background: $purple1;
		}
		.link-peek {
			position: absolute;
			bottom: 0px;
			height: 162px;
			width: 40px;
			right: -40px;
			padding: 10px;
			background: $purple1;
			overflow: hidden;
			transition: .5s ease-in-out;
			&:before{
				content: "See The Campaign";
				color: $teal;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 1.5rem;
				margin: auto;
				display: inline-block;
				height: 3.2rem;
				@include call-to-action;
				font-size: 20px;
				width: 80px;
				text-transform: uppercase;
				text-align: center; 
				opacity:0;
				line-height: 1em;
			}
			&:after {
				content: $rightarrow;
				display: inline-block;
				color: #21e3db;
				font-family: "FontAwesome";
				position: absolute;
				right: 10px;
				top: 10px;
				bottom: 0px;
				margin: auto;
				font-size: 46px;
				height: 60px;
			}
		}
		&:hover .link-peek{
			width: 145px;
			right: -145px;
			&:before{ opacity: 1; transition-delay: .5s; }
		}
		.headline-col{
			padding-right: 0;
		}
	}

	@media(max-width:$max-small-width){

		height: 420px;

		.hgroup {
			
			bottom: 0px;
			left: 0px;
			padding: 0;
			h2{
				strong{ font-size: 25px; }
				p{
					font-size: 28px;
    				line-height: 18px;
				}
			}

			.link-peek {
				position: absolute;
				bottom: 0px;
				height: 126px;
    			width: 40px;
    			right: 15px;
				padding: 10px;
				background: $purple1;
				overflow: hidden;
				transition: none;
				&:before{
					content: "";					
				}
				&:after {
					content: $rightarrow;
					display: inline-block;
					color: #21e3db;
					font-family: "FontAwesome";
					position: absolute;
					right: 10px;
					top: 10px;
					bottom: 0px;
					margin: auto;
					font-size: 46px;
					height: 60px;
				}
			}
			&:hover .link-peek{
				width: 40px;
				right: 15px;
				&:before{ opacity: 0; transition-delay: 0; }
			}

		}
	}
	@media(min-width:$min-small-width){

	}
	@media(min-width:$min-tablet-width){

	}
	@media(min-width:$min-desktop-width){

	}

}