
.full-width-nav{
	position: relative;
	z-index: 1;
	background: $purple2;

	.container-fluid {
    	padding-right: 0px;
    	padding-left: 0px;
	}
	.nav-drop{
		width: 100%;
	}
	.navbar{
		border: none;
		margin-top: 0;
		margin-bottom: 0; 
	}
	.navbar-toggle .icon-bar{
		background-color: white
	}
	#navbar-collapse{
		padding-left: 0;
		padding-right: 0; 
	}
	.nav{
		>li { 
			a:hover, a:focus{
				background-color: transparent;
				color: #05b5fe;
			}
			> a{
				color: white;
				font-family: "franklin-gothic-urw-comp";			    
			    text-transform: uppercase;
			    font-weight: 500;
			    font-size: 24px;
			}
			a{
				padding: 19px 28px;
				text-transform: uppercase;

			}

			&.current_page_item, &.current-menu-parent{
				background: $purple1;
				border-bottom: 5px solid $purple3;
				& > a{ color: $teal; }
			}
			&.open{
				>a{
					background: $purple3;
				}
			}
		}
		.open > a{
			background-color: transparent;
		}
		.dropdown-menu{
			background: $purple1;
			a{
				color: white;
				&:hover a, &.current-menu-item a {
					color: $teal;
				}
			}
		}

	}
	
	li {
		cursor: pointer;
	}
	
	& > ul > li {
		display: inline-block;
		// margin-right: 80px;
		@include h6;

		a, span{
			display: block;
			text-decoration: none;
			color: white;
		}

		&:hover > a, &:hover > span{
			color: $teal; 
		}

		& > a, span {
			padding: 19px 28px;
		}

		&.current_page_item, &.current-menu-parent{
			background: $purple1;
			border-bottom: 5px solid $purple3;
			& > a, & > span { color: $teal; }

		}
		/*
		.nav-drop {
			// display: none;
			position: absolute;
			background: $purple1;
			width: 100%;
			left: 0;
			padding: 0;
			line-height: 1.5rem;
			z-index: -1;
			bottom: 0;
			height: 0;
			overflow: hidden;
			transition: .5s all ease-in-out .5s; 
			ul { 
				// position: absolute;
				bottom: 0;
				padding: 0 88px;
			}
			li{
				display: inline-block;
				@include sub-nav;
				margin-right: 1.5rem;
				line-height: 2rem;

				&:hover a, &.current-menu-item a {
					color: $teal;
				}
			}
		}
		&:hover {
			.nav-drop{
				height: 52px;
				bottom: -52px;
				padding: 10px 0;
			}
		}*/
	}
}