<li id="{{ slide.id }}" class="post-preview {% if pid == slide.id %}open{% endif %}">
	<a name="{{slide.id}}"class="content">
		<div class="thumbnail" style="background-image:url( '{{ slide.thumbnail.src }}' );">
			{# {{ dump(slide) }} #}
			<span>{{slide.display_date|date('m.d.y')}}</span>
		</div>
		<div class="post-text">
			<h4>{{ slide.post_title }}</h4>
			<h5>{{ slide.post_author_name }} / {{ slide.source }}</h5>
			<p>{{ slide.get_preview(40,false,'',true) }}</p>
			<a class="read-more">Read More</a>
		</div>
		
	</a> 
<div class="post-content">
			{{slide.post_content}}
</div>
</li>
